{% extends base_template_name %}

{% block title %}About Adopt a Pet{% endblock %}

{% block body %}
    <div style="height: 20px"></div>

    <div class="container-fluid items-container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="padding-left: 5px;padding-right: 5px">
                <h1 align="center" style="font-weight: bold">About Adopt a Pet</h1><br><br>
                <strong style="font-size: medium">&#8226 On our website, you could find local pets in need of a home.</strong><br><br>
                <strong style="font-size: medium">&#8226 On our website, you could post to help homeless pets find a home.</strong><br><br>
            </div>
        </div>
    </div>

{% endblock %}
