{% extends 'mainApp/base_visitor.html' %}

{% block ogimage %}<meta property="og:image" content="{{ item.photo.url }}">{% endblock %}

{% block title %}
    {{ item.who_needs_a_home }}
{% endblock %}


{% block body %}
    <div class="alert3">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <div align="center">
          <strong><a href="{% url 'mainApp:login' %}">Log in</a> to see who posted this.</strong>
      </div>
    </div>

    <div style="height: 10px"></div>
{#    item#}
    <div class="container-fluid items-container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="padding-left: 5px;padding-right: 5px">
                <div class="panel panel-default">
                    <div class="panel-body" style="padding:0px;">
                        <a>
                            {% if item.photo %}
                                <img src="{{ item.photo.url }}" class="img-responsive center">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                        <h2 style="padding-left:10px; padding-right:10px; overflow: hidden">{{ item.who_needs_a_home }} <small>{{ item.city }}</small></h2>
                        <pre style="font: -webkit-control; font-size: 14px; padding-left:10px; padding-right:5px; line-height: 20px">{{ item.description }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}